
<h1>Registro de Visitas</h1>
<table>
	<thead>

		<tr>
			<th>Nombre Completo</th>
			<th>Cedula</th>
			<th>Organizacion</th>
			<th>Área</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			{{#each model as |reg|}}
		 	<td>{{reg.nombre}}</td>
			<td>{{reg.cedula}}</td>
			<td>{{reg.org}}</td>
			<td>{{reg.area}}</td>
			{{/each}}
		</tr>
		<td><input type="text" placeholder="Nombre"></td>
		<td><input type="text" placeholder="Cédula"></td>
		<td><input type="text" placeholder="Organización"></td>
		<td><input type="text" placeholder="Area"></td>
		<td><button {{action 'expand'}} type="button" class="button">Registrar</button></td>
	</tbody>
</table>	