<h1  align="center">Registro de Visitas</h1>
<table>
	<thead>
		<tr>
			<th>Nombre Completo</th>
			<th>Cedula</th>
			<th>Organizacion</th>
			<th>Área</th>
		</tr>
	</thead>
	<tbody>
		{{#each model as |reg|}}
		<tr>
			<td>{{reg.nombre}}</td>
			<td>{{reg.cedula}}</td>
			<td>{{reg.org}}</td>
			<td>{{reg.area}}</td>
		</tr>
		{{/each}}
		<td><input id='name' type="text" placeholder="Nombre"></td>
		<td><input id='ced'type="text" placeholder="Cédula"></td>
		<td><input id='org' type="text" placeholder="Organización"></td>
		<td><input id='area' type="text" placeholder="Area"></td>
		<td><button class="button" {{action "click"}}>OK</button></td>
	</tbody>
</table>	